* {
  box-sizing: border-box;
}

html {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}

body {
  margin: 0px;
  line-height: 1.4;
}

#header {
  height: 60px;
  width: 100%;
  background-color: #fff;
}

#logo {
  height: 40px;
  width: auto;
}

#burger {
  background: #fff;
  border: 0;
}

#navigation a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navigation {
  display: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

#klassiker {
  text-align: center;
  color: #374a67;
}

#hero {
  background-image: url(../img/flaschen.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: #fffdd6;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: #374a67;
  text-decoration: none;
  background: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #374a67;
  padding: 1rem;
  border-radius: 5px;
  display: inline-block;
  margin: 1rem;
  transition: 1s all ease;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }

.card a {
  text-decoration: none;
  color: #333;
}

 h2 {
  color: #374a67;
  font-weight: bold;
  text-decoration: none;
  }

#linktext {
  text-decoration: none;
  color: #828282;
  text-shadow: 1px 1px;
    }

#linktext p{
padding: 0 2rem;
text-align: center;
}

#rezepte {
  color: #333;
}

.card img {
  width: 100%;
  height: 70%;
    }

.card .button-blue {
  color: #fff;
  background: #374a67;
  box-shadow: 0px 4px 6px 0px rgba(55,74,103,1);
  transition: 0.5s;
}

.card {
  width: 100%;
  text-align: center;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  margin-top: 1rem;
 }
/*overflow: hidden "schneidet" überflüssiges in Bildern ab */

.card .button-blue:hover {
  background: #fff;
  color:  #374a67;
  border: 1px solid #374a67;
  transform: scale(3);
  opacity: 0.5;
    }

.button:hover {
  color: #fff;
  background: #374a67;
  transform: rotateZ(360deg);
}

/*margin drückt Element weg von anderen; Link ist kein Blockelement und akzeptiert daher kein Margin*/
/*padding verbreitert Element */
/*100vh = viewport height -> höhe des viewports, angepasst an bildschirmgröße */
@media (min-width: 960px) {
  #burger {
    display: none;
  }

  #navigation {
    display: block;
  }

  .wrapper {
    width: 90%;
    height: 100%;
    margin: auto;
  }

  #liste {
    display: flex;
  }

  #navigation li {
    margin-left: 1rem;
  }

  .posts {
    display: flex;
    flex-wrap: wrap;

  }
  .card {
    width: calc(50% - 2rem);
    margin: 1rem;
  }
}

/* @media: Grund für Veränderung, hier: roter Hintergrund bei mehr als 960px*/
/* display: none --> Ausblendung*/
/* a: Ansprechen aller "a's" (html code) die in der ID Nagivation hängt */
